<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>

    <!-- Toolbar -->
    <div class="toolbar">
        <a href="{{ site.baseurl }}/"><b>HOME</b></a>
        <a href="{{ site.baseurl }}/audio.html"><b>AUDIO</b></a>
        <a href="{{ site.baseurl }}/visual.html"><b>VISUAL</b></a>
        <a href="{{ site.baseurl }}/photography.html"><b>PHOTO</b></a>
        <a href="{{ site.baseurl }}/drawings.html"><b>DRAWINGS</b></a>
        <a href="{{ site.baseurl }}/writing.html"><b>WRITING</b></a>
    </div>

</body>
</html>
