<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>
<body>

    <!-- Toolbar -->
    <div class="toolbar">
        <a href="{{ "/" | relative_url }}"><b>HOME</b></a>
        <a href="{{ "/audio.html" | relative_url }}"><b>AUDIO</b></a>
        <a href="{{ "/visual.html" | relative_url }}"><b>VISUAL</b></a>
        <a href="{{ "/photography.html" | relative_url }}"><b>PHOTO</b></a>
        <a href="{{ "/drawings.html" | relative_url }}"><b>DRAWINGS</b></a>
        <a href="{{ "/writing.html" | relative_url }}"><b>WRITING</b></a>
    </div>

</body>
</html>
