<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Website</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <ul class="navbar-menu">
                <li><a href="{{ site.baseurl }}/" class="home-link">Home</a></li>
                <li class="dropdown">
                    <a href="{{ site.baseurl }}/expression.html">Expression</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.baseurl }}/drawings.html">Drawings & Sketches</a></li>
                        <li><a href="{{ site.baseurl }}/photo.html">Photography</a></li>
                        <li><a href="{{ site.baseurl }}/audio.html">Music</a></li>
                        <li><a href="{{ site.baseurl }}/video.html">Video</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="{{ site.baseurl }}/ventures.html">Ventures</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.baseurl }}/outdoors.html">The Outdoors</a></li>
                        <li><a href="{{ site.baseurl }}/travel.html">Travel</a></li>
                        <li><a href="{{ site.baseurl }}/goals.html">Goals</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.baseurl }}/writing.html">Reflections</a></li>
                <li><a href="{{ site.baseurl }}/about.html">About</a></li>
            </ul>
        </div>
    </nav>
    <script src="{{ site.baseurl }}/script.js"></script>
</body>
</html>