/* This is the navbar section */
body {
    font-family: 'Helvetica', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ffffff;
    width: 100%;
    padding: 10px 0;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-menu li {
    position: relative;
}

.navbar-menu a {
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px; /* Increased text size */
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.navbar-menu a:hover,
.navbar-menu .dropdown:hover > a {
    color: rgb(89, 17, 94);
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 200px;
    width: auto
    z-index: 10000;
    opacity: 0;
    transition: opacity 5s ease, transform 5s ease;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateX(-50%) translateY(0)
}

.dropdown-menu li a {
    padding: 5px 10px;
    color: #000000;
    text-align: left;
    font-size: 20px; /* Increased text size for dropdown items */
}

.dropdown-menu li a:hover {
    background-color: #156100;
    color: rgb(255, 255, 255);
}
/* end of navbar section*/